[submodule "autogpts/autogpt/tests/vcr_cassettes"]
	path = autogpts/autogpt/tests/vcr_cassettes
	url = https://github.com/Significant-Gravitas/Auto-GPT-test-cassettes
[submodule "TheAgency"]
	path = TheAgency
	url = https://github.com/shamantechnology/TheAgency
[submodule "swarms"]
	path = swarms
	url = https://github.com/kyegomez/swarms
[submodule "EvoSwarm"]
	path = EvoSwarm
	url = https://github.com/ZackBradshaw/EvoSwarm
